@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/bebas-neue-400.woff2") format("woff2"),
    url("../fonts/bebas-neue-400.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/bebas-neue-700.woff2") format("woff2"),
    url("../fonts/bebas-neue-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-condensed-300.woff2") format("woff2"),
    url("../fonts/roboto-condensed-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-condensed-400.woff2") format("woff2"),
    url("../fonts/roboto-condensed-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-condensed-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-700.woff") format("woff");
}
